In [1]:
import pandas as pd
import numpy as np

ye_data = pd.read_parquet("dataset/yellow_tripdata_2023-10.parquet")
gr_data = pd.read_parquet("dataset/green_tripdata_2023-10.parquet")
fhvhv_data = pd.read_parquet("dataset/fhvhv_tripdata_2023-10.parquet")

In [2]:
ye_pudo = ye_data[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_distance', 'total_amount']].rename(columns={
    'tpep_pickup_datetime': 'putime',
    'tpep_dropoff_datetime': 'dotime',
    'PULocationID': 'pickup_location_id',
    'DOLocationID': 'dropoff_location_id',
    'trip_distance': 'trip_distance',
    'total_amount': 'total_amount'
})

gr_pudo = gr_data[['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_distance', 'total_amount']].rename(columns={
    'lpep_pickup_datetime': 'putime',
    'lpep_dropoff_datetime': 'dotime',
    'PULocationID': 'pickup_location_id',
    'DOLocationID': 'dropoff_location_id',
    'trip_distance': 'trip_distance',
    'total_amount': 'total_amount'
})

fhvhv_data['total_amount'] = fhvhv_data['base_passenger_fare'] + fhvhv_data['tolls'] + fhvhv_data['bcf'] + fhvhv_data['sales_tax'] + fhvhv_data['congestion_surcharge'] + fhvhv_data['airport_fee'] + fhvhv_data['tips']
fhvhv_pudo = fhvhv_data[['pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles', 'total_amount']].rename(columns={
    'pickup_datetime': 'putime',
    'dropoff_datetime': 'dotime',
    'PULocationID': 'pickup_location_id',
    'DOLocationID': 'dropoff_location_id',
    'trip_miles': 'trip_distance',
    'total_amount': 'total_amount'
})

pudo = pd.concat([ye_pudo, gr_pudo, fhvhv_pudo]).reset_index(drop=True)

In [3]:
pudo['putimestamp'] = pudo['putime'].dt.time
pudo['pudate'] = pudo['putime'].dt.date
pudo['dotimestamp'] = pudo['dotime'].dt.time
pudo['dodate'] = pudo['dotime'].dt.date
pudo.head(20)

,putime,dotime,pickup_location_id,dropoff_location_id,trip_distance,total_amount,putimestamp,pudate,dotimestamp,dodate
0,2023-10-01 00:16:44,2023-10-01 00:16:49,168,168,0.00,5.50,00:16:44,2023-10-01,00:16:49,2023-10-01
1,2023-10-01 00:23:24,2023-10-01 00:23:47,168,168,0.00,5.50,00:23:24,2023-10-01,00:23:47,2023-10-01
2,2023-10-01 00:21:18,2023-10-01 00:27:31,161,186,0.90,14.40,00:21:18,2023-10-01,00:27:31,2023-10-01
3,2023-10-01 00:17:39,2023-10-01 00:17:47,255,255,0.00,5.50,00:17:39,2023-10-01,00:17:47,2023-10-01
4,2023-10-01 00:16:15,2023-10-01 00:22:57,151,239,1.41,18.00,00:16:15,2023-10-01,00:22:57,2023-10-01
5,2023-10-01 00:33:14,2023-10-01 00:52:12,238,246,3.15,29.26,00:33:14,2023-10-01,00:52:12,2023-10-01
6,2023-10-01 00:58:18,2023-10-01 01:01:20,50,50,0.67,12.96,00:58:18,2023-10-01,01:01:20,2023-10-01
7,2023-10-01 00:11:29,2023-10-01 00:32:55,208,239,14.93,65.76,00:11:29,2023-10-01,00:32:55,2023-10-01
8,2023-10-01 00:22:33,2023-10-01 00:34:00,87,249,3.20,25.55,00:22:33,2023-10-01,00:34:00,2023-10-01
9,2023-10-01 00:39:47,2023-10-01 00:48:48,125,231,1.30,17.00,00:39:47,2023-10-01,00:48:48,2023-10-01
10,2023-10-01 00:51:54,2023-10-01 00:57:12,144,13,1.00,12.90,00:51:54,2023-10-01,00:57:12,2023-10-01
11,2023-10-01 00:11:49,2023-10-01 00:33:31,232,158,2.52,28.92,00:11:49,2023-10-01,00:33:31,2023-10-01
12,2023-10-01 00:51:42,2023-10-01 01:02:51,161,42,4.04,27.24,00:51:42,2023-10-01,01:02:51,2023-10-01
13,2023-10-01 00:16:19,2023-10-01 00:27:27,148,170,1.70,19.68,00:16:19,2023-10-01,00:27:27,2023-10-01
14,2023-10-01 00:39:02,2023-10-01 00:46:09,230,140,1.98,17.70,00:39:02,2023-10-01,00:46:09,2023-10-01
15,2023-10-01 00:22:11,2023-10-01 00:37:00,164,79,1.80,21.90,00:22:11,2023-10-01,00:37:00,2023-10-01
16,2023-10-01 00:45:36,2023-10-01 00:50:25,148,65,1.70,17.15,00:45:36,2023-10-01,00:50:25,2023-10-01
17,2023-10-01 00:02:46,2023-10-01 00:09:52,142,236,1.88,18.06,00:02:46,2023-10-01,00:09:52,2023-10-01
18,2023-10-01 00:35:39,2023-10-01 00:51:02,238,42,2.86,24.24,00:35:39,2023-10-01,00:51:02,2023-10-01
19,2023-09-30 23:59:49,2023-10-01 00:21:59,249,52,3.80,33.96,23:59:49,2023-09-30,00:21:59,2023-10-01

In [4]:
pudo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23774792 entries, 0 to 23774791
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   putime               datetime64[ns]
 1   dotime               datetime64[ns]
 2   pickup_location_id   int32
 3   dropoff_location_id  int32
 4   trip_distance        float64
 5   total_amount         float64
 6   putimestamp          object
 7   pudate               object
 8   dotimestamp          object
 9   dodate               object
dtypes: datetime64[ns](2), float64(2), int32(2), object(4)
memory usage: 1.6+ GB

In [5]:
pudo['trip_id'] = range(1, len(pudo) + 1)
pu = pudo[['trip_id', 'putime', 'putimestamp', 'pudate', 'pickup_location_id', 'trip_distance', 'total_amount']]
pu['type'] = 'pu'
do = pudo[['trip_id', 'dotime', 'dotimestamp', 'dodate', 'dropoff_location_id', 'trip_distance', 'total_amount']]
do['type'] = 'do'

<ipython-input-5-8fc2013f0b00>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pu['type'] = 'pu'
<ipython-input-5-8fc2013f0b00>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  do['type'] = 'do'

In [6]:
pu = pu.rename(columns={
    'trip_id': 'trip_id',
    'putime': 'time', 
    'putimestamp': 'timestamp', 
    'pudate': 'date',
    'pickup_location_id': 'location_id',
    'trip_distance': 'trip_distance',
    'total_amount': 'total_amount',
    'type': 'type'
})

do = do.rename(columns={
    'trip_id': 'trip_id',
    'dotime': 'time', 
    'dotimestamp': 'timestamp', 
    'dodate': 'date',
    'dropoff_location_id': 'location_id',
    'trip_distance': 'trip_distance',
    'total_amount': 'total_amount',
    'type': 'type'
})

pudo = pd.concat([pu, do], ignore_index=False)

In [7]:
do

,trip_id,time,timestamp,date,location_id,trip_distance,total_amount,type
0,1,2023-10-01 00:16:49,00:16:49,2023-10-01,168,0.000,5.50,do
1,2,2023-10-01 00:23:47,00:23:47,2023-10-01,168,0.000,5.50,do
2,3,2023-10-01 00:27:31,00:27:31,2023-10-01,186,0.900,14.40,do
3,4,2023-10-01 00:17:47,00:17:47,2023-10-01,255,0.000,5.50,do
4,5,2023-10-01 00:22:57,00:22:57,2023-10-01,239,1.410,18.00,do
...,...,...,...,...,...,...,...,...
23774787,23774788,2023-10-31 23:28:57,23:28:57,2023-10-31,42,1.832,11.91,do
23774788,23774789,2023-10-31 23:22:20,23:22:20,2023-10-31,158,3.610,28.99,do
23774789,23774790,2023-10-31 23:38:36,23:38:36,2023-10-31,162,3.040,27.90,do
23774790,23774791,2023-10-31 23:59:51,23:59:51,2023-10-31,45,4.690,29.94,do
23774791,23774792,2023-10-31 23:51:48,23:51:48,2023-10-31,145,2.070,16.97,do

In [8]:
pudo

,trip_id,time,timestamp,date,location_id,trip_distance,total_amount,type
0,1,2023-10-01 00:16:44,00:16:44,2023-10-01,168,0.000,5.50,pu
1,2,2023-10-01 00:23:24,00:23:24,2023-10-01,168,0.000,5.50,pu
2,3,2023-10-01 00:21:18,00:21:18,2023-10-01,161,0.900,14.40,pu
3,4,2023-10-01 00:17:39,00:17:39,2023-10-01,255,0.000,5.50,pu
4,5,2023-10-01 00:16:15,00:16:15,2023-10-01,151,1.410,18.00,pu
...,...,...,...,...,...,...,...,...
23774787,23774788,2023-10-31 23:28:57,23:28:57,2023-10-31,42,1.832,11.91,do
23774788,23774789,2023-10-31 23:22:20,23:22:20,2023-10-31,158,3.610,28.99,do
23774789,23774790,2023-10-31 23:38:36,23:38:36,2023-10-31,162,3.040,27.90,do
23774790,23774791,2023-10-31 23:59:51,23:59:51,2023-10-31,45,4.690,29.94,do
23774791,23774792,2023-10-31 23:51:48,23:51:48,2023-10-31,145,2.070,16.97,do

In [9]:
pudo.to_csv("dataset/pudo_warehouse.csv")